body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Common Pixel";
  color: white;
}

canvas {
  position: absolute;
}

#container {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#background {
    height: 3840px;
    background-image: url("../img/background.jpg");
    animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0, -960px);
  }
  100% {
    transform: translate(0, 960px);
  }
}

#start {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 6em;
}

#hint {
  font-size: 1em;
  animation: blink 1s linear infinite;
}

#score-container {
  font-size: 2em;
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  color: red;
}

#hp, #level {
  display: flex;
  position: absolute;
  bottom: 1vh;
}

#hp {
  left: 5vw;
}

#level {
  right: 5vw;
}

.life {
  width: 40px;
  height: 40px;
  background-image: url("../img/heart.png");
  background-size: 40px 40px;
  margin-left: -0.5vw;
}

.level {
  width: 40px;
  height: 40px;
  background-image: url("../img/flag.png");
  background-size: 40px 40px;
  margin-left: -0.5vw;
}


@keyframes blink {
  50% {
    opacity: 30%;
  }
}